<!DOCTYPE html>
<html>
<head>
    <script>pageURL = {{ request.script_root|tojson|safe }}</script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script src="{{ url_for('static', filename='main.js') }}"></script>
    <title></title>
</head>
<body>
<h1 id="h">10</h1>
<canvas id="canvas"></canvas>
<script>
    var draw = function(result){
        var array = result;
        var canvas = $("#canvas")[0];
        var ctx = canvas.getContext("2d");
        ctx.fillStyle = "white";
        ctx.fillRect(0,0,canvas.width,canvas.height);
        for(var i = 0;i<array.length;i++){
            ctx.beginPath();
            ctx.arc(array[i].xPos,50,$("#h").text(),0,2*Math.PI);
            ctx.stroke();
        }
    }
    $(function(){
        connect();
    });
</script>
<a href="#" id="connect">Add player</a>
</body>
</html>