<!DOCTYPE html>
<html>
<head>
    <script>pageURL = {{ request.script_root|tojson|safe }}</script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script src="{{ url_for('static', filename='main.js') }}"></script>
    <title></title>
</head>
<body>
<h1 id="h">10</h1>
<canvas id="canvas"></canvas>
<script>
    var players = {};
    var draw = function(timestamp, result){
        var array = result;
        var canvas = $("#canvas")[0];
        var ctx = canvas.getContext("2d");
        ctx.fillStyle = "white";
        ctx.fillRect(0,0,canvas.width,canvas.height);
        for(var i = 0;i<array.length;i++){
            ctx.beginPath();
            ctx.arc(array[i].xPos,array[i].yPos,$("#h").text(),0,2*Math.PI);
            ctx.stroke();
        }
        window.requestAnimationFrame(function(t){draw(t, players);});
    }
    window.requestAnimationFrame(function(t){draw(t, players);});
    setInterval(function(){get_players();},1000);
    $(function(){
        $('a#add').on("click", function() {return add()});
    });
</script>
<a href="#" id="add">Add player</a>
</body>
</html>