<!DOCTYPE html>
<html>
<head>
    <script>pageURL = {{ request.script_root|tojson|safe }}</script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script src="{{ url_for('static', filename='main.js') }}"></script>
    <title></title>
</head>
<body>
<canvas id="canvas"></canvas>
<script>
    var players = {};
    var draw = function(timestamp, result){
        var array = result;
        var canvas = $("#canvas")[0];
        var ctx = canvas.getContext("2d");
        ctx.fillStyle = "white";
        ctx.fillRect(0,0,canvas.width,canvas.height);
        ctx.fillStyle = "black";
        for(var i = 0;i<array.length;i++){
            ctx.beginPath();
            ctx.arc(array[i].xPos,array[i].yPos,10,0,2*Math.PI);
            ctx.fill();
        }
        window.requestAnimationFrame(function(t){draw(t, players);});
    }
    window.requestAnimationFrame(function(t){draw(t, players);});
    setInterval(function(){get_players();},100);
    $(function(){
        $('canvas#canvas').mousedown(function(e) {return down(e)});
        $('canvas#canvas').mousemove(function(e) {return move(e)});
        $('canvas#canvas').mouseup(function(e) {return up(e)});
    });
</script>
</body>
</html>